@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root{
    --main-color:#fff;
    --secondary-color:#E7E6E6;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}

.heading{
    font-size: 56px;
}


section{
    padding: 1.5rem 7%;
}

@media (max-width:1320px){
    .heading{
        font-size: 50px;
    }
}
@media (max-width:1140px){
    .heading{
        font-size: 40px;
        
    }
}
@media (max-width:960px){
    .heading{
        font-size: 38px;
        
    }

    section{
        padding: 1.5rem 2rem;  
    }
}
@media (max-width:720px){
    .heading{
        font-size: 32px;
    }
}
@media (max-width:540px){
    
}